@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
}

.shadow-glow-blue {
  box-shadow: 0 0 20px rgba(59, 130, 246, 0.4);
}

.shadow-glow-emerald {
  box-shadow: 0 0 20px rgba(16, 185, 129, 0.4);
}

.shadow-glow-amber {
  box-shadow: 0 0 20px rgba(245, 158, 11, 0.4);
}

.shadow-glow-red {
  box-shadow: 0 0 20px rgba(239, 68, 68, 0.4);
}
